body{
      background-color: #f8d5d5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
}
.unit-content {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
}
h1{
      font-size: 25px;
}
h1, h2, h3, h4 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}
li, p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 19px;
      font-weight: 500;
      margin: 0 20px;
}
caption {
      caption-side: top;
      text-align: center;
      font-weight: bold;
      margin-bottom: 6px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
}
hr{ 
      border: 0.5px solid rgb(138, 14, 5); 
      width: 100%; 
      margin: 0;
}
table {
      border-collapse: collapse;
      width: 100%;
      max-width: 800px;
}
th, td {
      border: 1px solid rgb(138, 14, 5);
      padding: 8px 10px;
      text-align: left;
      vertical-align: middle;
      background: #e4a0a0;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
}
thead th {
      font-weight: bold;
      background: #db7373;
}
.highlight {
      font-weight: bold;
      background-color: #c97878;
}
.background {
      background-color: #eb7575;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.background:hover {
      background-color: #e28e8e;
      color: white;
      transform: scale(1.05);
}
.link {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: black;
      font-weight: bold;
}
.link:hover {
      text-decoration: underline;
}

.unit-header {
  cursor: pointer;
}

.unit-content {
  display: none;
}

.unit-content.active {
  display: block;
}

@keyframes fadeIn {
      from {
      opacity: 0;
      transform: translateY(-5px);
      }
      to {
      opacity: 1;
      transform: translateY(0);
      }
}

@media (max-width: 600px) {

      body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
      }
      h1{
            font-size: 22px;
      } 
      h1, h2, h3, h4 {
            font-family: Arial, Helvetica, sans-serif;
            padding: 0 20px;
      }
      caption{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            padding: 10PX 20px;
      }
      li, p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            margin: 0 20PX;
            font-weight: 500;
      }
      
      caption {
            caption-side: top;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 6px;
            margin: 0 20PX;
      }
      table {
            width: 100%;
            max-width: 100%;
            font-size: 15px;
            display: block;
            overflow-x: auto;
            padding: 0 20px;
      }
      th, td {
            padding: 6px;
            font-size: 15px;
            font-weight: 500;
      }
}