body{
      background-color: #e9e3d2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
}
.unit-content {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
}
h1{
      font-size: 25px;
}
h1, h2, h3, h4 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
}
li, p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 19px;
      font-weight: 500;
      margin: 0 20px;
}
caption {
      caption-side: top;
      text-align: center;
      font-weight: bold;
      margin-bottom: 6px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
}
hr{ 
      border: 0.5px solid rgb(187, 103, 24);
      width: 100%;
      margin: 0;
}
table {
      border-collapse: collapse;
      width: 100%;
      max-width: 800px;
}
th, td {
      border: 1px solid rgb(187, 103, 24);
      padding: 8px 10px;
      text-align: left;
      vertical-align: middle;
      background: #ebceaa;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
}
thead th {
      font-weight: bold;
      background: #f1b46f;
}
.highlight {
      font-weight: bold;
      background-color: #e9911e;
}
.background {
      background-color: #f0a364dc;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.background:hover {
      background-color: #e2ac6ec7;
      color: white;
      transform: scale(1.05);
}
.link {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: black;
      font-weight: bold;
}
.link:hover {
      text-decoration: underline;
}

.unit-header {
  cursor: pointer;
}

.unit-content {
  display: none;
}

.unit-content.active {
  display: block;
}
.level-bar {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin: 20px 0;
      flex-wrap: wrap;
}
.level {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      padding: 12px 18px;
      border-radius: 10px;
      background-color: #f7b87d;
      color: #333;
      transition: all 0.2s ease;
      font-size: 22px;
}
.level:hover {
      background-color: #e2ccaa;
      color: white;
      transform: scale(1.05);
}

@media (max-width: 600px) {

      body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
      }
      h1{
            font-size: 22px;
      } 
      h1, h2, h3, h4 {
            font-family: Arial, Helvetica, sans-serif;
            padding: 0 20px;
      }
      caption{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            padding: 10PX 20px;
      }
      li, p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            margin: 0 20PX;
            font-weight: 500;
      }
      caption {
            caption-side: top;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 6px;
            margin: 0 20PX;
      }
      table {
            width: 100%;
            max-width: 100%;
            font-size: 15px;
            display: block;
            overflow-x: auto;
            padding: 0 20px;
      }
      th, td {
            padding: 6px;
            font-size: 13px;
            font-weight: 500;
      }
      .level-bar {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin: 20px 0;
      flex-wrap: wrap;
      }
      .level {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            padding: 12px 18px;
            border-radius: 10px;
            background-color: #f7b87d;
            color: #333;
            transition: all 0.2s ease;
      }
      .level:hover {
            background-color: #ecb25b;
            color: white;
            transform: scale(1.05);
      }
            caption {
            caption-side: top;
            text-align: center;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 6px;
            margin: 0 20PX;
      }
}